{% extends 'base.html' %}
{% block content %}
    <h2>{{ post.slug }}</h2>
    <p>작성자 : {{ post.author_id }}</p>
    <p>작성일 : {{ post.created_at }}</p>
    <p>좋아요 수 : <<span id="like-count">{{ post.get_like_count }}</span></p>
    <button id="like-button" data-post-id="{{ post.pk }}">
        {% if post.is_liked_by(request.user) %}
            좋아요 취소
        {% else %}
            좋아요
        {% endif %}
    </button>

    <script>
        document.getElementById('like-button').addEventListener('click', function() {
            const postId = this.dataset.postId;
            fetch(`/likes/toggle/${postId}/`, {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    document.getElementById('like-count').textContent = data.like_count;
                    this.textContent = data.liked ? '좋아요 취소' : '좋아요';
                });
        });
    </script>


    <a href="{% url 'post_update' post.pk %}">수정</a>
    <a href="{% url 'post_delete' post.pk %}">삭제</a>
    <a href="{% url 'post_list' %}">목록으로</a>
{% endblock %}